body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color:#1f2937;
    align-items: center;
    color: white;
    padding: 10px 100px 0px 100px;

}

.header-links {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    gap: 20px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.first-main {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 100px 50px;
}

.first-right {
    display: flex;
    flex: 0, 0, 0;
    height: 250px;
    width: 500px;
    background-color:#757d85;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.first-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    padding: 15px 0px;
}

.sign-up {
  padding: 8px 16px;
  border-radius: 8px;
  background: #3882f6;
  border: 1px solid #3882f6;
  color: white;
  max-width: 150px;
  font-size: 18px;
}

.second-title {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    justify-content: center;
    padding: 50px 0px;
}

.secondary-pic {
    height: 150px;
    width: 150px;
    border-color: #3882f6;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
}

.second-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-size: 18px;
    color: #41484e;
    padding-bottom: 80px;
}

.subinfo-one, .subinfo-two, .subinfo-three, .subinfo-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.secondary-subtext {
    padding: 15px 0px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #41484e;
}

.speaker {
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    text-align: end;
}

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 125px;
}

.call-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-title {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.call-subinfo {
    font-size: 18px;
    color: #e5e7eb;
}

.call-section {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 50px 100px;
    margin: 125px 200px;
    border-radius: 10px;
    gap: 20px;
}

.call-right {
    padding: 8px 40px;
    border-radius: 8px;
    background: #3882f6;
    border: 3px solid #ffffff;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 30px;
}

